@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}

@font-face {
  font-family: "Vazirmatn";
  src: url("fonts/webfonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Vazirmatn, sans-serif;
}


.range {
  direction: ltr; /* تعیین جهت چپ به راست برای نوار رنج */
}
